<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
    <meta charset="utf-8" />
    <title>ADM | Nuevo viaje</title>
    <link rel="stylesheet" href="/css/nuevoViajeEmpresa.css">
</head>

<header>
    {{> navbar}}
</header>

<body>
    <h1>Nuevo viaje para empresa:</h1>
    <div class="nuevoViajeForm" style="display: flex; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 50%;">
            <form action=" /viaje" method="POST" id="nuevoViaje">
                <div style="display:flex;">
                    <label style="margin: 10px;">Localidades:</label>
                    <select class="form-control" name="localidad0" id="localidad0">
                        <option value="0">Seleccionar</option>
                        {{#each localidades}}
                        <option value="{{this.id}}">{{this.nombre}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                    <label class="demoraLabel">Demora:</label>
                    <select class="form-control" name="demora0" id="demora0">
                        <option value="0">Seleccionar demora</option>
                        {{#each demoras}}
                        <option value="{{this.id}}">{{this.tiempo}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                </div>
                <div style="display:flex;">
                    <label style="margin: 10px;">Localidades:</label>
                    <select class="form-control" name="localidad1" id="localidad1">
                        <option value="0">Seleccionar</option>
                        {{#each localidades}}
                        <option value="{{this.id}}">{{this.nombre}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                    <label class="demoraLabel">Demora:</label>
                    <select class="form-control" name="demora1" id="demora1">
                        <option value="0">Seleccionar demora</option>
                        {{#each demoras}}
                        <option value="{{this.id}}">{{this.tiempo}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                </div>
                <div style="display:flex;">
                    <label style="margin: 10px;">Localidades:</label>
                    <select class="form-control" name="localidad2" id="localidad2">
                        <option value="0">Seleccionar</option>
                        {{#each localidades}}
                        <option value="{{this.id}}">{{this.nombre}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                    <label class="demoraLabel">Demora:</label>
                    <select class="form-control" name="demora2" id="demora2">
                        <option value="0">Seleccionar demora</option>
                        {{#each demoras}}
                        <option value="{{this.id}}">{{this.tiempo}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                </div>
                <div style="display:flex;">
                    <label style="margin: 10px;">Localidades:</label>
                    <select class="form-control" name="localidad3" id="localidad3">
                        <option value="0">Seleccionar</option>
                        {{#each localidades}}
                        <option value="{{this.id}}">{{this.nombre}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                    <label class="demoraLabel">Demora:</label>
                    <select class="form-control" name="demora3" id="demora3">
                        <option value="0">Seleccionar demora</option>
                        {{#each demoras}}
                        <option value="{{this.id}}">{{this.tiempo}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                </div>
                <div style="display:flex;">
                    <label style="margin: 10px;">Localidades:</label>
                    <select class="form-control" name="localidad4" id="localidad4">
                        <option value="0">Seleccionar</option>
                        {{#each localidades}}
                        <option value="{{this.id}}">{{this.nombre}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                    <label class="demoraLabel">Demora:</label>
                    <select class="form-control" name="demora4" id="demora4">
                        <option value="0">Seleccionar demora</option>
                        {{#each demoras}}
                        <option value="{{this.id}}">{{this.tiempo}} | ${{this.precio}}</option>
                        {{/each}}
                    </select>
                </div>

                <label for="destinos">Destinos:</label>
                <input style="margin: 10px;" type="text" id="destino0" name="destino0">
                <input style="margin: 10px;" type="text" id="destino1" name="destino1">
                <input style="margin: 10px;" type="text" id="destino2" name="destino2">
                <input style="margin: 10px;" type="text" id="destino3" name="destino3">
                <input style="margin: 10px;" type="text" id="destino4" name="destino4">
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" id="fecha" required>
                <label for="empresa">Empresa</label>
                <select name="empresa" id="empresa">
                    <option value="0">Seleccionar</option>
                    {{#each empresas}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
                <label for="conRegreso">¿Con regreso? </label>
                <input type="checkbox" name="conRegreso" id="conRegreso" value="si">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 50%;">
            <label for="nombreDelSolicitante">Nombre del solicitante</label>
            <input type="text" name="nombreDelSolicitante" id="nombreDelSolicitante">
            <label for="conLluvia">¿Con lluvia?</label>
            <input type="checkbox" name="conLluvia" id="conLluvia" value="si">
            <label for="conBulto">¿Con bulto?</label>
            <input type="checkbox" name="conBulto" id="conBulto" value="si">
            <label for="cadeteList">Cadete/s</label>
            <input type="text" name="cadetes" id="cadetes">
            <label for="peajes">Peajes</label>
            <input type="text" name="peajes" id="peajes" value="">
            <br>
            <label for="demora">Demora total:</label>
            <input type="number" name="demora" id="demora" readonly>
            <br>
            <label for="subTotal">Subtotal:</label>
            <textarea name="subTotal" id="subTotal" cols="5" rows="1" readonly></textarea>
            <label for="total">Total:</label>
            <br>
            <input type="number" name="total" id="total" value="0" readonly>
            <button class="m-5 btn btn-info" id="calcularTotal">Calcular Total</button>
            <button id="submitViaje" class="m-2 btn btn-primary" type="submit">Registrar viaje</button>
        </div>
        </form>
    </div>
</body>
<script src="/js/nuevoViajeParaEmpresa.js"></script>
<script>

</script>
<style>
    .nuevoViajeForm form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

</html>